.container {
    padding-top: 60px;
    background-color: #dbd1e633;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.title {
    font-size: 30px;
}

.text {
    font-size: 18px;
    font-family: var(--font-family-base);
    color: var(--text-color);
    font-weight: 400;
    padding-bottom: 50px;
}

.articleText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 540px;
    gap: 30px;
    text-align: center;
}

.articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; 
}

.buttonArticles {
    display: flex;
    padding-bottom: 60px;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    gap: 15px;
}